.emojiHappy-1hbF93 {
  background-image: url("/assets/da3651e59d6006dfa5fa07ec3102d1f3.svg");
}
.emojiNeutral-14asfM {
  background-image: url("/assets/fa9b378aed10bba1aea54ca34e76fe4b.svg");
}
.emojiSad-1GqgAQ {
  background-image: url("/assets/9dc0c15c9e35f7ba86150ae12e895d29.svg");
}
