.emojiUploader-1f0pVx,
div[class*="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyStart-2NDFzi alignStretch-DpGPf3 noWrap-3jynv6 marginBottom4-2qk4Hy"] {
    display: none
}

.emojiRow-zIc7ZX {
    display: inline-flex;
    margin-right: 50px
}
