div > div.updateIconForeground-3tnNZn {
  fill: var(--interactive-normal);
}
div:hover > .updateIconForeground-3tnNZn {
  fill: var(--interactive-hover);
}
div:active > .updateIconForeground-3tnNZn {
  fill: var(--interactive-active);
}
