svg > div.updateIconForeground-3tnNZn {
  fill: var(--interactive-normal);
}
svg:hover > .updateIconForeground-3tnNZn {
  fill: var(--interactive-hover);
}
svg:active > .updateIconForeground-3tnNZn {
  fill: var(--interactive-active);
}